@import url(tongyong.css);
/*banner*/
.banner{
    width:100%;
    height:700px;
    background: #111  url("../img/img1/1.png") no-repeat -200px 161px;
    border-top:1px solid #111;
}
.banner .dao{
    width:1200px;
    height:100px;
    border-radius: 5px;
    border:3px solid #110f0f;
    margin:0 auto;
    margin-top:35px;
}
.banner .hang{
    width:1194px;
    height:94px;
    border-radius: 5px;
    border:2px solid #5d5c59;
}
.banner .dao1{
    width:1190px;border-radius: 5px;
    height:90px;background: #000;
    position: relative;
}
.banner .logo{
    display: block;
    width:61px;
    height:61px;
    background: url("../img/2.png") no-repeat;
    float: left;
    margin-top:15px;
    margin-left:13px;
}
.banner .zi{
    display: block;
    float: left;
    height:90px;
    font-size: 14px;
    line-height:90px;
    margin-left:8px;
    color: #fff;font-weight: 900;
}
.banner .caffe{
    width:860px;
    height:90px;
    float: left;line-height: 90px;
    margin-left:78px;text-align: justify;cursor:default;
}
.banner .caffe:after{content: "";
    display: inline-block;width: 100%;
}
.banner .hang2{
    display: inline-block;
    color: #fff;
}
.banner .hang2:hover{
    color: #857358;
}
.banner .hang3{
    font-weight:bold;font-size: 14px;
}
.banner .ying{
    color: #fff;font-weight:bold;
    position: absolute;
    left:460px;
    top:60px;
}
.banner .ying:hover{
    color: #857358;
}
.banner .shi{
    width:1200px;
    height:64px;font-size: 24px;
    text-align: center;
    line-height:64px;
    color: #b5864f;
    margin-top:445px;
}
.banner .shi1{
    width:1200px;
    height:50px;font-size: 20px;
    text-align: center;
    color: #fff;
}
.ma{
    display: block;
    width:1200px;
    height:50px;
    margin:0 auto;line-height: 50px;
    padding-left:4px;
    font-size:14px;
    color: #000;
}
.ma:hover{
    color: #b5864f;text-decoration: underline;
}
/*内容1*/
.mei{
    width:578px;
    height:38px;
    font-size:18px;
    margin:0 auto;text-align: center;
    line-height:38px;
    color: #b5864f;
    border-bottom:1px solid #818181;
    font-weight:bold;
}
.ping{
    width:1200px;
    height:1350px;
    margin:0 auto;
}
.ping .ping1{
    width:1060px;
    height:917px;
    margin:0 auto;
}
.ping .dian{
    width:100%;
    height:58px;
}
.ping .dian1{
    display: block;
    width:100%;
    height:30px;text-align: center;line-height: 30px;
    color: #333;font-size: 18px;

}
.ping .dian2{
    display: block;
    width:100%;
    height:28px;text-align: center;line-height: 28px;
    color: #666;font-size: 16px;
}
.ping .box{
    width:1060px;
    height:900px;margin-top: 30px;
}
.ping .box1{
    width:340px;
    height:412px;
    margin-right:20px;
    float: left;
}
.ping .box2{
    display: block;
    width:340px;
    height:340px;
    border:1px solid #000;
}
.ping .box3{
    display:block;
}
.ping .bu{
    display: block;
    width:140px;
    height:42px;
    float: left;
    margin-top:14px;
    color: #333;
}
.ping .bu a{
    display: block;
    color: #333;
}
.ping .geng{
    display: block;
    width: 76px;
    height: 24px;
    float: right;
    margin-top: 10px;
    text-align: center;line-height: 22px;
    border:2px solid #b5864f;
    color: #333;
}
.ping .bu a:hover{
    color: #b5864f;
}
.ping .geng:hover{
    background:#b5864f;
    color: #fff;
}
.ping .box5{
    margin-right:0;
}
.ping .box2:hover{
    border:2px solid #b5864f;
}
.ping5{
    height:930px;
}
.ping .ping6{
    height:930px;
}
.ping .box7{
    height:930px;
}
.ye{
    width:550px;
    height:60px;
    margin:0 auto;
}
.ye .zi{
    font-size:14px;
    margin-right:40px;
    color: #333;
}
.ye .zi1{
    font-weight: bold;
}
.ye .zi:hover{
    color: #b5864f;
}
/*?foot*/
.foot{
    width:100%;
    height:408px;background: #282828;
}
.foot .foot1{
    width:1200px;
    height:408px;
    margin:0 auto;
}
.foot .quan{
    width:262px;
    height:300px;
    float: left;
    margin-left:64px;
    margin-top:70px;
}
.foot .quan1{
    width:310px;
    height:220px;
    float: left;
    margin-left:196px;
    margin-top:70px;
}
.foot .quan2{
    width:200px;
    height:152px;
    float: left;
    margin-left:127px;
    margin-top:70px;
}
.foot .qiu{
    display: block;
    width:262px;font-size: 18px;font-weight: bold;
    margin-bottom: 35px;
    color: #fff;
}
.foot .tun{
    width:262px;
    height:163px;
    margin-bottom: 10px;
}
.foot .tun2{
    display: block;
    color: #f5f4f4;
}
.foot p{
    color: #f5f4f4;
}
.foot a:hover{
    text-decoration: underline;
}
