@import url(tongyong.css);
body{
    color: #333;
}
/*banner*/
.banner{
    width:100%;
    height:700px;
    background: #111  url("../img/img2/1.png") no-repeat -200px 161px;
    border-top:1px solid #111;
}
.banner .dao{
    width:1200px;
    height:100px;
    border-radius: 5px;
    border:3px solid #110f0f;
    margin:0 auto;
    margin-top:35px;
}
.banner .hang{
    width:1194px;
    height:94px;
    border-radius: 5px;
    border:2px solid #5d5c59;
}
.banner .dao1{
    width:1190px;border-radius: 5px;
    height:90px;background: #000;
    position: relative;
}
.banner .logo{
    display: block;
    width:61px;
    height:61px;
    background: url("../img/2.png") no-repeat;
    float: left;
    margin-top:15px;
    margin-left:13px;
}
.banner .zi{
    display: block;
    float: left;
    height:90px;
    font-size: 14px;
    line-height:90px;
    margin-left:8px;
    color: #fff;font-weight: 900;
}
.banner .caffe{
    width:860px;
    height:90px;
    float: left;line-height: 90px;
    margin-left:78px;text-align: justify;cursor:default;
}
.banner .caffe:after{content: "";
    display: inline-block;width: 100%;
}
.banner .hang2{
    display: inline-block;
    color: #fff;
}
.banner .hang2:hover{
    color: #857358;
}
.banner .hang3{
    font-weight:bold;font-size: 14px;
}
.banner .ying{
    color: #fff;font-weight:bold;
    position: absolute;
    left:1085px;
    top:60px;
}
.banner .ying:hover{
    color: #857358;
}
.banner .shi{
    width:1200px;
    height:64px;font-size: 24px;
    text-align: center;
    line-height:64px;
    color: #b5864f;
    margin-top:445px;
}
.banner .shi1{
    width:1200px;
    height:50px;font-size: 20px;
    text-align: center;
    color: #fff;
}
.ma{
    display: block;
    width:1200px;
    height:50px;
    margin:0 auto;line-height: 50px;
    padding-left:4px;
    font-size:14px;
    color: #000;
}
.ma:hover{
    color: #b5864f;text-decoration: underline;
}
/*内容1*/
.content{
    width:1060px;
    height:300px;
    margin:0 auto;
}
.content .box{
    width:463px;
    height:300px;
    float: left;
}
.content .box1{
    width:470px;
    height:300px;
    float: right;
}
.content .xin{
    font-size:14px;
    color: #b08758;
    margin-bottom:36px;
}
.content .xin1{
    color: #555;
    margin-bottom:30px;
}
/*内容2*/
.content2{
    width:100%;
    height:434px;
}
.content2 .left{
    width:50%;
    height:434px;float:left;
    background:#b08758;
}
.content2 .left1{
    width:600px;
    height:434px;float:right;
    background:#b08758;
}
.content2 .right{
    width:50%;
    height:434px;float:left;
    background: #383838;
}
.content2 .right1{
    width:600px;
    height:434px;float:left;
    background:#383838;
}
.content2 .box{
    width:374px;
    height:300px;
    padding-top:72px;
    margin-left:70px;
}
.content2 .shou{
    font-size: 18px;
    color: #333;
    margin-bottom:45px;
}
.content2 .shou1{
     font-size: 14px;
     color: #fff;
     margin-bottom:90px;
 }
.content2 .shou2{
    display: block;
    width:206px;
    height:75px;
    font-size: 18px;
    color: #333;
    border:1px solid #383838;
    text-align: center;line-height: 75px;
}
.content2 .shou3{
    color: #b08758;
}
.content2 .shou4{
    display: block;
    width:206px;
    height:75px;
    font-size: 18px;
    color: #b08758;
    border:1px solid #b08758;
    text-align: center;line-height: 75px;
}
.content2 .shou5{
    width:300px;
}
.content2 .shou2:hover{
    background: #383838;
    color: #fff;
}
.content2 .shou4:hover{
    background: #b08758;
    color: #fff;
}
.hui{
    width:130px;
    height:34px;
    margin:0 auto;
    margin-top:60px;
    color: #b08758;
    font-size: 18px;
    border-bottom:1px solid #383838;
    text-align: center;line-height:34px;
}
/*内容3*/
.content3{
    width:1060px;
    height:910px;
    margin:0 auto;
    margin-top:50px;
}
.content3 .box{
    width:1060px;
    height:480px;position: relative;
}
.content3 .left{
    width:530px;
    height:450px;
    float: left;
}
.content3 .right{
    width:445px;
    height:450px;
    float: right;
}
.content3 .zi{
    font-size: 14px;
    margin-bottom:36px;
}
.content3 .niu{
     width:175px;
     height:150px;
     position: absolute;
     top:170px;
     left:-20px;
 }
.content3 .niu1{
    width:178px;
    height:150px;
    position: absolute;
    top:170px;
    left:155px;text-align: center;
}
.content3 .niu2{
    width:79px;
    height:150px;
    position: absolute;
    top:170px;
    left:378px;
}
.content3 .list{
    margin-bottom: 40px;
}
.content3 .niu3{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:640px;text-align: center;
}
.content3 .niu4{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:880px;
}
.content3 .box1{
    width:1060px;
    height:457px;position: relative;
}
.content3 .niu5{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    text-align: center;
}
.content3 .niu6{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:210px;text-align: center;
}
.content3 .niu7{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:666px;text-align: center;
}
.content3 .niu8{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:888px;text-align: center;
}
.content3 .niu9{
    width:168px;
    height:150px;
    position: absolute;
    top:170px;
    left:435px;text-align: center;
}