@import url(tongyong.css);
.banner{
    width:100%;
    height:932px;
    margin:0 auto;
    position: relative;
}
.banner1{
    width:100%;
    height:932px;background: url("../img/1.png") no-repeat;
    background-size:auto 100%;
    float: left;
}
.banner .dao{
    width:1200px;
    height:100px;
    border-radius: 5px;
    border:3px solid #110f0f;
    margin:0 auto;
    margin-top:35px;
}
.banner .hang{
    width:1194px;
    height:94px;
    border-radius: 5px;
    border:2px solid #5d5c59;
}
.banner .dao1{
    width:1190px;border-radius: 5px;
    height:90px;background: #000;
    position: relative;
}
.banner .logo{
    display: block;
    width:61px;
    height:61px;
    background: url("../img/2.png") no-repeat;
    float: left;
    margin-top:15px;
    margin-left:13px;
}
.banner .zi{
    display: block;
    float: left;
    height:90px;
    font-size: 14px;
    line-height:90px;
    margin-left:8px;
    color: #fff;font-weight: 900;
}
.banner .caffe{
    width:860px;
    height:90px;
    float: left;line-height: 90px;
    margin-left:78px;text-align: justify;cursor:default;
}
.banner .caffe:after{content: "";
    display: inline-block;width: 100%;
}
.banner .hang2{
     display: inline-block;
     color: #fff;
}
.banner .hang2:hover{
    color: #857358;
}
.banner .hang3{
    font-weight:bold;font-size: 14px;
}
.banner .ying{
    color: #fff;font-weight:bold;
    position: absolute;
    left:279px;
    top:60px;
}
.banner .ying:hover{
    color: #857358;
}
.banner .fei{
    position: absolute;
    font-size:58px;
    font-weight:bold;
    left:278px;
    color: #fff;
    top:270px;
}
.banner .ku{
    position: absolute;
    font-size:40px;
    font-weight:bold;
    left:306px;
    color: #fff;
    top:348px;
}
.banner img{
    display: block;position: absolute;
    left:155px;
    top:498px;
}
.banner .yin{
    position: absolute;
    font-size:40px;
    left:265px;
    color: #fff;
    top:484px;
}
.banner .ni{
    position: absolute;
    font-size:40px;
    left:245px;
    color: #857358;
    top:545px;
}
/*内容1*/
.list1{
    width:100%;
    height:80px;background: #857358;font-size: 18px;text-align: center;line-height: 80px;font-weight: bold;
    color: #000;
}
.content1{
    width:100%;
    height:908px;background: #857358;
}
.content1 .ba{
    width:1200px;
    height:978px;
    margin:0 auto;
}
.content1 .ping{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;
}
.content1 .zhan{
    display: block;
    height:24px;line-height: 24px;
    color: #000;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.content1 .heng{
    width:40px;
    height:2px;background: #000;
    float: left;
    margin:0 5px;
    margin-top:12px;
}
.content1 .zhui{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;font-size: 14px;
    color: #333;
}
.content1 .bottom{
    width:1200px;height:757px;
    margin-top:40px;
}
.content1 .hua{
    display: block;
    float: left;
    width:352px;
    height:355px;
    margin-left:32px;
    margin-bottom:48px;position: relative;
}
.content1 .hua1{
    display: block;
    width:352px;
    height:355px;
}
.content1 .zhao{
    width:352px;
    height:355px;
    position: absolute;
    left:0;
    top:0;
    background: rgba(39,38,38,0.5);
}
.content1 .zi{
     position: absolute;
     left:32px;
     top:284px;
     color: #857358;
 }
.content1 .han{
    position: absolute;
    left:32px;
    top:306px;
    color: #fff;
}
.content1 .hua:hover{
    outline:1px solid #fff;
}
.content1 .zhao:hover{
    background: rgba(39,38,38,0);
}
.content1 a:hover{
    color: #fff;
}
    /*内容2*/
.list2{
    width:100%;
    height:80px;background: #f3f3f3;font-size: 18px;text-align: center;line-height: 80px;font-weight: bold;
    color: #000;
}
.content2{
    width:100%;
    height:1220px;background: #f3f3f3;
}
.content2 .lu{
    width:1200px;
    height:978px;
    margin:0 auto;
}
.content2 .ping{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;
}
.content2 .zhan{
    display: block;
    height:24px;line-height: 24px;
    color: #000;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.content2 .heng{
    width:40px;
    height:2px;background: #000;
    float: left;
    margin:0 5px;
    margin-top:12px;
}
.content2 .zhui{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;font-size: 14px;
    color: #333;
}
.content2 .se{
    width:1200px;
    height:800px;margin-top: 40px;
}
.content2 .chang{
    display: block;
    width:550px;
    height:359px;
    float: left;
    margin-left:34px;
}
.content2 .chang img{
    display: block;
    width:550px;
    height:359px;transition: all 1s;
}
.content2 .chang img:hover{
    transform:scale(1.1,1.1);
}
.content2 .huo{
    width:300px;
    height:359px;
    margin-left:70px;
    float: left;
}
.content2 .huo .zhi{
    display: block;font-size: 30px;
    color: #000;margin-top: 30px;
    margin-bottom:35px;font-weight: bold;
}
.content2 .huo .mei{
    font-size: 14px;
    color: #000;
    margin-bottom:28px;
}
.content2 .huo .nian{
    color: #000;
}
.content2 .chang1{
    display: block;
    width:550px;
    height:359px;
    float:right;
    margin-right:65px;
}
.content2 .huo1 {
    width: 300px;
    height: 359px;
    margin-right: 20px;
    float: right;
}
.content2 .huo1 .zhi1{
    text-align: right;
}
.content2 a:hover{
    color: #857358;
}
.content2 .huo .zhi:hover{
    color: #857358;
}
/*内容3*/
.list3{
    width:100%;
    height:80px;background: #fff;font-size: 18px;text-align: center;line-height: 80px;font-weight: bold;
    color: #000;
}
.content3{
    width:100%;
    height:350px;background: #fff;
}
.content3 .ren{
    width:1200px;
    height:350px;
    margin:0 auto;
}
.content3 .ping{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;
}
.content3 .zhan{
    display: block;
    height:24px;line-height: 24px;
    color: #000;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.content3 .heng{
    width:40px;
    height:2px;background: #000;
    float: left;
    margin:0 5px;
    margin-top:12px;
}
.content3 .zhui{
    width:1200px;
    height:24px;line-height: 24px;padding-left: 34px;font-size: 14px;
    color: #333;
}
.content3 .jia{
    width:1200px;
    height:250px;
    margin-top:40px;
    position:relative;
}
.content3 .qi{
     display: block;
     width:207px;
     height:207px;
     margin-left:180px;
    float: left;
 }
.content3 .si{
    display: block;
    width:207px;
    height:207px;
}
.content3 .qi1{
    display: block;
    width:207px;
    height:207px;
    margin-left:105px;
    float: left;
}
.content3 .smallkuai{
    position: absolute;
    width:17px;
    height:31px;
    left:87px;
    top:76px;
    background: url("../img/16.png");
}
.content3 .smallkuai1{
    position: absolute;
    width:17px;
    height:31px;
    right:121px;
    top:76px;
    background: url("../img/17.png");
}
.content3 a:hover{
    color: #857358;
}
.content3 img:hover{
    outline:1px solid #9f6e39;
}
.content3 .smallkuai:hover{
    background: url("../img/16.png") rgba(102,102,102,0.5);
    border-radius: 3px;
}
.content3 .smallkuai1:hover{
    background: url("../img/17.png") rgba(102,102,102,0.5);
    border-radius: 3px;
}
/*内容4*/
.content4{
    width:100%;
    height:410px;background: #857358;
}
.content4 .guan{
    width:1200px;
    height:410px;
    margin:0 auto;position: relative;
}
.content4 .shu{
    width:1200px;
    height:20px;

}
.content4 .wei{
    display: block;
    font-size: 14px;float: left;
    margin-left:34px;margin-top:30px;

    color: #50371c;
}
.content4 .wei1{
    display: block;
    font-size: 14px;float: left;
    color: #000;margin-top:30px;
}
.content4 .xim{
    width:1166px;
    height:300px;
    margin-left:34px;margin-top:70px;
}
.content4 .zi{
    margin-top: 30px;
    color: #000;
}
.content4 .bo{
    position: absolute;
    width:146px;
    height:165px;
    left:648px;
    top:210px;
    background: url("../img/18.png") no-repeat;
    font-size: 14px;
    padding-top: 150px;
    color: #50371c;
}
.content4 .bo1{
    position: absolute;
    width:146px;
    height:165px;
    left:901px;
    top:210px;
    background: url("../img/19.png") no-repeat;
    font-size: 14px;
    padding-top: 150px;
    color: #50371c;
}
.content4 a:hover{
    color: #fff;
}
/*内容5*/
.content5{
    width:100%;
    height:453px;background: #000;
}
.content5 .you{
    width:1200px;
    height:453px;
    background: url("../img/20.png") no-repeat 195px 120px;
    border:1px solid #000;
}
.content5 .kiai1{
    width:312px;
    height:207px;
    margin-left:704px;
    margin-top:160px;
}
.content5 .kiai1 .zhi{
    width:312px;text-align: center;font-size: 14px;
    color: #fff;
}
.content5 .kiai1 .men{
    width:312px;
    color: #fff;
    line-height: 20px;
    margin-top:22px;

}
.content5 .kiai1 .geng{
    display: block;
    width:95px;
    height:32px;
    border:2px solid #9f6e39;
    margin-top:35px;
    margin-left: 50px;
    float: left;
    line-height: 28px;
    font-size:14px;
    text-align: center;
    color: #9f6e39;
}
.content5 .kiai1 .geng1{
    display: block;
    width:95px;
    height:32px;
    border:2px solid #9f6e39;
    margin-top:35px;
    margin-left: 15px;
    float: left;
    line-height:28px;
    font-size:14px;
    text-align: center;
    color: #9f6e39;
}
.content5 .kiai1 .geng:hover{
    background:#9f6e39;
    color: #fff;
}
.content5 .kiai1 .geng1:hover{
    background:#9f6e39;
    color: #fff;
}
/*?foot*/
.foot{
    width:100%;
    height:408px;background: #282828;
}
.foot .foot1{
    width:1200px;
    height:408px;
    margin:0 auto;
}
.foot .quan{
    width:262px;
    height:300px;
    float: left;
    margin-left:64px;
    margin-top:70px;
}
.foot .quan1{
     width:310px;
     height:220px;
     float: left;
     margin-left:196px;
     margin-top:70px;
 }
.foot .quan2{
    width:200px;
    height:152px;
    float: left;
    margin-left:127px;
    margin-top:70px;
}
.foot .qiu{
    display: block;
    width:262px;font-size: 18px;font-weight: bold;
    margin-bottom: 35px;
    color: #fff;
}
.foot .tun{
     width:262px;
     height:163px;
     margin-bottom: 10px;
 }
.foot .tun2{
    display: block;
    color: #f5f4f4;
}
.foot p{
    color: #f5f4f4;
}
.foot a:hover{
    text-decoration: underline;
}
